In [1]:
import pandas as pd
from  sqlite3 import connect#bibloteka do tworzenia połączenia z bazą danych

In [2]:
#Tworzenie połączenia z bazą danych(wzięta ze strony: https://www.sqlitetutorial.net/sqlite-sample-database/)
con = connect('chinook.db')

In [3]:
#Weźmy przy pomocy SQL wszystkie utwory z tabeli tracks
dataframe = pd.read_sql_query('SELECT * FROM tracks', con)

dataframe.head(100)#wyświetlmy 100 pierwszych rekordów

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
95,96,Light My Way,10,1,1,Audioslave/Chris Cornell,303595,7289084,0.99
96,97,Getaway Car,10,1,1,Audioslave/Chris Cornell,299598,7193162,0.99
97,98,The Last Remaining Light,10,1,1,Audioslave/Chris Cornell,317492,7622615,0.99
98,99,Your Time Has Come,11,1,4,"Cornell, Commerford, Morello, Wilk",255529,8273592,0.99
99,100,Out Of Exile,11,1,4,"Cornell, Commerford, Morello, Wilk",291291,9506571,0.99

In [4]:
#Weźmy tylko te utwory, gdzie MediaTypeId=3
#Zauważmy, że wielkość liter w słowach kluczowych nie ma znaqczenia
dataframe = pd.read_sql_query('select * from tracks where MediaTypeId=2', con)

dataframe.head(100)#wyświetlmy 100 pierwszych rekordów

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
1,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
2,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
3,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
4,1146,Welcome to the Jungle,90,2,1,None,273552,4538451,0.99
...,...,...,...,...,...,...,...,...,...
95,3288,Rock You Like a Hurricane,257,2,1,None,255766,4300973,0.99
96,3289,No One Like You,257,2,1,None,240325,4050259,0.99
97,3290,The Zoo,257,2,1,None,332740,5550779,0.99
98,3291,Loving You Sunday Morning,257,2,1,None,339125,5654493,0.99
99,3292,Still Loving You,257,2,1,None,390674,6491444,0.99

In [5]:
#Zróbmy jakieś fancy zapytanie sql
dataframe = pd.read_sql_query('select tracks.TrackId,tracks.Name, media_types.Name from tracks join media_types where tracks.MediaTypeId=2', con)

dataframe.head(100)#wyświetlmy 100 pierwszych rekordów

    TrackId                  Name                         Name
0         2     Balls to the Wall              MPEG audio file
1         2     Balls to the Wall     Protected AAC audio file
2         2     Balls to the Wall  Protected MPEG-4 video file
3         2     Balls to the Wall     Purchased AAC audio file
4         2     Balls to the Wall               AAC audio file
..      ...                   ...                          ...
95     1161  Don't Cry (Original)              MPEG audio file
96     1161  Don't Cry (Original)     Protected AAC audio file
97     1161  Don't Cry (Original)  Protected MPEG-4 video file
98     1161  Don't Cry (Original)     Purchased AAC audio file
99     1161  Don't Cry (Original)               AAC audio file

[100 rows x 3 columns]